* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-color:black ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-bg {
    background-image: linear-gradient(-45deg , #ee7752 ,orange,yellow, #e73c7e ,#23a6d5 , #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.inner-circle {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.text {
    color:white
}

.minute {
    font-size: 43px;
}

.sec {
    font-size: 34px;
}

.msec {
    font-size: 23px;
}

.button-wrapper {
    width: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.btn:hover {
    background-color: white;
    color: black;
}

.laps {
    list-style: none;
    color: white;
    width: 250px;
    height: 250px;
    overflow: auto;
    position: relative;
    margin-top: 30px;
}

.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 15px;
}

.number {
    color: #cccccc;
}

.time-stamp {
    margin-left: 25px;
}

.lap-clear {
    display: block;
    position: fixed;
    z-index: 10;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    padding: 10px 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}